.wrap{
  height: 50px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #eee;
  cursor: pointer;
  display: flex;
  transition: .2s;
  &:hover{
    background: #ddd;
    .delete {
      opacity: 1;
    }
  }
}
.delete{
  transition: .2s;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  & button{
    overflow: hidden;
    min-width: 100%;
    padding: 0;
    height: 100%;
    border-radius: 0;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}
.left{
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  position: relative;
  &:before{
    content: '';
    display: block;
    width: 1px;
    background: #bbb;
    position: absolute;
    right: 0;
    top: 15px;
    bottom: 15px;
  }
}
.right{
  flex: 1 1 auto;
  flex-wrap: nowrap;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}
.title{
  font-weight: bold;
}
.subTitle{
  margin-top: 2px;
  opacity: .5;
  font-size: 14px;
}

