
.wrap{
  background: #eee;
  padding: 5px 10px;
  background: var(--primary);
  display: flex;
  box-shadow: 0 0 5px rgb(0, 0, 0, .1);
}
.link{
  color: var(--primaryContrast);
  padding: 0 15px;
  height: 35px;
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  &:hover{
    background: var(--secondary);
  }
  &:last-child{
    margin: 0;
  }
}
.activeLink{
  background: var(--primaryActive) !important;
}
