.wrap{
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 20px;
  display: flex;
  & button{
    margin-right: 20px;
    background: var(--primaryActive);
    border: 0;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
}
