
.wrap{
  height: 40px;
  padding: 0 20px;
  min-width: 220px;
  text-decoration: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--primary);
  color: var(--primaryContrast);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  box-shadow: none;
  &:hover{
    background: var(--secondary);
  }
  &:disabled{
    background: #ddd;
    color: #333;
    cursor: default;
  }
}
