.empty{
  padding: 20px 0;
  font-weight: 300;
}
.link{
  text-decoration: inherit;
  color: inherit;
  display: flex;
  align-items: flex-end;
}
.addElement{
  margin-top: 20px;
}
.number{
  margin-right: 10px;
  font-size: 20px;
}
