
.wrap{
  padding: 20px;
  margin: 0 auto;
  height: 100%;
  max-width: 1100px;
  min-width: 320px;
  width: 100%;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 0 5px rgb(0, 0, 0, .1);
}

@media (max-width: 620px) {
  .wrap{
    padding: 15px;
  }
}
